{% extends "base.html" %}

{% block title_head %}
About me 
{% endblock title_head %}

{% block h1_header %}
Acerca de mi
{% endblock h1_header %}

{% block h3_header %}
Clase python
{% endblock h3_header %}

{% block main %}
<ul>
    <li> <b>Nombre:</b> Daniel Sneider Zafra Nieves</li>
    <li><b>Edad:</b> 27 años</li>
    <li><b>País:</b> Colombia</li>
    <li><b>Formación:</b> Profesional en Ingeniería Electrónica</li>
    <li><b>Correo Electrónico:</b> zafradanieln@gmail.com</li>
    <li><b>LinkedIn:</b><a href="https://www.linkedin.com/in/daniel-sneider-zafra-nieves-791467182/"> https://www.linkedin.com/in/daniel-sneider-zafra-nieves-791467182/</a></li>
</ul>
{% endblock main %}

